{% extends 'base.html.twig' %}

{% block title %}Expenses{% endblock %}

{% block body %}
    <h1>Expenses</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ expense.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ expense.date ? expense.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Provider</th>
                <td>{{ expense.Provider }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ expense.amount }}</td>
            </tr>
            <tr>
                <th>Tps</th>
                <td>{{ expense.tps }}</td>
            </tr>
            <tr>
                <th>Tvq</th>
                <td>{{ expense.tvq }}</td>
            </tr>
            <tr>
                <th>Tvh</th>
                <td>{{ expense.tvh }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('expenses_index') }}">back to list</a>

    <a href="{{ path('expenses_edit', {'id': expense.id}) }}">edit</a>

    {{ include('expenses/_delete_form.html.twig') }}
{% endblock %}
